h3 {
    text-align: center;
}
.relativeExample {
    display: flex;
    justify-content: center;
}

#relativePosition {
    width: 300px;
    height: 150px;
    position: relative;
    /* top: 50px;
    left: 50px;
    right: 50px; 
    bottom: 50px; */
}

#staticExample1 {
    width: 300px;
    height: 150px;
    top: 50px;
}

#staticExample2 {
    width: 300px;
    height: 150px;
    position: relative;
}

#staticExample3 {
    width: 300px;
    height: 150px;
    position: static;
}

.fixedPosition {
    position: fixed;
    top: 50px;
}

#image1 {
    display: block;
}
#image2 {
    display: block;
} 
#image3 {
    display: block;
}

.staticPosition {
    position: static;
}

nav {
    background-color: rgb(2, 194, 130);
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: sticky;
    top: 10px;
}

nav a {
    color: rgb(0, 81, 75);
    margin-right: 20px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(0, 81, 75);
    text-decoration: underline;
}

.abc {
    position: relative;
}

.absoluteExample {
    padding: 80px;
    background-color: bisque;
    position: absolute;
}











