header nav a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20px;
    font-size: 16px;
}

header nav a:hover {
    color: red;
    font-size: 20px;
}

header nav {
    text-align: center;
    background-color: aquamarine;
    padding: 10px;
    border-radius: 20px;
}


.quickLinks a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

.quickLinks {
    background-color: rgb(0, 255, 136);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.dividerLine {
    display: flex;
    justify-content: center;
    padding: 1px;
    background-color: rgb(24, 41, 32);
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
}

.socials a {
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

.socials {
    background-color: rgb(0, 200, 255);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
}

section {
    display: flex;
}

.copyright {
    display: flex;
    justify-content: center;
}

p {
    color: brown;
}

/* mobile mode */
@media (max-width: 480px) {
    header nav a {
        font-size: 12px;
    }
    header nav a:hover {
        font-size: 16px;
    }

    section {
        display: block;
    }

    p {
        color: aqua;
    }

    .footerContent {
        display: block;
    }
}

/* tablet mode */
@media (min-width: 481px) and (max-width: 768px) {
    header nav a {
        font-size: 14px;
    }
    header nav a:hover {
        font-size: 18px;
    }

    section {
        display: block;
    }

    p {
        color: rgb(255, 0, 191);
    }

    .footerContent {
        display: block;
    }
}

/* desktop mode */
@media (min-width: 769px) and (max-width: 1024px) {
    header nav a {
        font-size: 16px;
    }
    header nav a:hover {
        font-size: 20px;
    }

    section {
        display: block;
    }

    p {
        color: rgb(255, 0, 191);
    }

    .footerContent {
        display: block;
    }
}

/* large desktop mode */
@media (min-width: 1025px) and (max-width: 1200px) {
    header nav a {
        font-size: 18px;
    }
    header nav a:hover {
        font-size: 22px;
    }

    section {
        display: block;
    }

    p {
        color: rgb(255, 0, 191);
    }

    .footerContent {
        display: block;
    }
}

/* extra large desktop mode */
@media (min-width: 1201px) {
    header nav a {
        font-size: 20px;
    }
    header nav a:hover {
        font-size: 24px;
    }

    section {
        display: block;
    }

    p {
        color: rgb(255, 0, 191);
    }

    .footerContent {
        display: block;
    }
}